/* $Id$ */

@import url(menus.css);

html
{
	height: 100%;
}

body
{
	margin: 0px;
	padding-top: 0px;
	height: 100%;
	background-color: #CCD7E4;
}

body, td, th
{
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
	font-size: 12px;
	color: black;
}

#site-wrapper
{
	margin: -20px auto 0px auto;
	width: 1120px;
	position: relative;
	background-repeat: repeat-y;
}

a
{
	text-decoration: none;
	color: #1D508E;
}

a:hover
{
	text-decoration: underline;
}

a:active
{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
/*	font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-weight: bold;
}

h1
{
	font-weight: normal;
	font-size: 20px;
	color: #336093;
	margin-top: 0px;
	border-bottom: 1px solid #AFAFAF;
}

h2, h3
{
	font-size: 16px;
	color: #1E3A5A;
}

h3
{
	margin-top: 0px;
}

h2
{
	margin-left: 20px;
	margin-top: 10px;
}

h2
{
	text-transform: uppercase;
}

h4, h5
{
	font-size: 10px;
	color: white;
}

h6
{
	font-size: 12px;
	color: white;
}

.compact-link a
{
	font-size: 8pt;
	margin-bottom: 10px;
}

#header-bar,
#main-menu,
#page-content,
#home-map,
#top-right
{
	-moz-box-shadow: #1B1B1B 0px 2px 5px;
	-webkit-box-shadow: #1B1B1B 0px 2px 5px;
	filter: Shadow(Color=#1B1B1B, Direction=180, Strength=2);
}

#links-bar-wrapper
{
	position: absolute;
	top: 0px;
	overflow: hidden;
	width: 100%;
	height: 320px;
	background: url(images/links-wrapper-bg.png) repeat-x;
}

#links-bar
{
	height: 20px;
	background-color: #336093;
	-moz-box-shadow: 0 2px 4px #000;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 2px 4px;
	filter: Shadow(Color=#000000, Direction=180, Strength=2);
	display: none;
}

#language-selection, #language-selection a, #small-links, #small-links a
{
	font-size: 9px;
	color: white;
	font-weight: 600;
	display: inline-block;
	height: 20px;
}

#language-selection ul
{
    margin: 0px;
    -webkit-padding-start: 0px;
    padding: 0px;
    padding-top: 2px;
}

#language-selection li
{
    display: inline-block;
    margin: 0px 0px 0px 7px;
}

#language-selection li a
{
    text-transform: uppercase;
    
}

#language-selection
{
	float: left;
	margin-top: 4px;
	margin-left: 6px;
}

#small-links
{
	float: right;
	margin-top: 4px;
	margin-right: 6px;
}

#header-bar
{
	background: black url(images/black_logo.jpg) no-repeat 15px 35px;
	height: 125px;
	width: 258px;
	margin-top: 20px;
}

#divider
{
	background-image: url(images/VSI-Home_04.jpg);
	-moz-box-shadow: 2 2px 2px #000;
	-webkit-box-shadow: #B87904 0px 2px 2px;
	filter: Shadow(Color=#000000, Direction=180, Strength=2);
	height: 5px;
	width: 258px;
	overflow: hidden;
    position: relative; 
    display: none;
}

#page-title
{
	text-align: right;
	position: relative;
	right: -22px;
}

#page-title h2
{
	background: #8FA8C4;
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
	font-size: 35px;
	color: white;
	font-weight: normal;
}

#h2-clarifier
{
	width: 697px;
	height: 20px;
	background: black;
	position: absolute;
	bottom: 0px;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display: none;
}

#page-content
{
    background: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	margin-left: 17px;
	width: 797px;
	margin-top: 140px;
	padding: 22px;
	padding-top: 20px;
	display: inline-block;
	font-family: 'Molengo', georgia, 'times new roman', verdana, arial;
	font-size: 14px;
	color: #232125;
	margin-bottom: -20px;
	min-height: 400px;
}

.infobox
{
    display: inline-block;
    float: right;
	background-position: 5px 5px;
	background-repeat: no-repeat;
	background-color: #DEE5EE;
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
	font-size: 10px;
	font-weight: normal;
	margin: 0px 10px 10px 10px;
	border: 1px solid #D1D1D1;
	-moz-box-shadow: 2 2px 2px #8F8F8F;
	-webkit-box-shadow: #8F8F8F 2px 2px 2px;
	filter: Shadow(Color=#8F8F8F, Direction=180, Strength=2);
}

.infobox img
{
    border: 1px solid #8F8F8F;
    padding: 2px;
    margin: 0px 10px 0px 10px;
}

.infobox a
{
	color: black;
	text-decoration: underline;
	font-weight: bold;
}

.infobox h1
{
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
	font-size: 12px;
	font-weight: bold;
	color: rgb(51, 96, 147);
	text-decoration: none;
	border: none;
	background: url(images/top_grad.gif) repeat-x; 
	height: 20px;
	border-bottom: 1px solid #D1D1D1;
	padding: 5px;
}

.infobox a h1
{
	text-decoration: none;
}

.infobox p
{
    margin: 10px;
    vertical-align: top;
}

/*
#allabout
{
	background-image: url(images/VSI-whatisVSI.jpg);
}
*/
#videoupdates
{
	background-image: url(images/video1-thumb.jpg);
}

#photoupdates
{
	background-image: url(images/photo1-thumb.jpg);
}

/* The home page is different from the rest of the site. The following to accomodate that */
#home-map-wrapper
{
	position: absolute;
	left: 278px;
	top: 0px;
	white-space: nowrap;
}

#home-map
{
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

#top-right
{
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
    white-space: normal;
    vertical-align: top;
	padding: 0px;
	top: 0px;
	right: 0px;
	height: 244px;
	overflow: hidden;
	width: 144px;
	font-size: 10px;
	display: inline-block;
}

#shadow
{
	display: none;
	z-index: 10;
	position: absolute;
	left: 690px;
	width: 154px;
	height: 1px;
	top: 149px;
	-moz-box-shadow: 0 2px 2px #000;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 2px 2px;
	filter: Shadow(Color=#000000, Direction=180, Strength=2);
}

.shadowed
{
	-moz-box-shadow: 0 2px 2px #000;
	-webkit-box-shadow: rgb(0, 0, 0) 2px 2px 4px;
	filter: Shadow(Color=#000000, Direction=180, Strength=2);
}

body#page-node-1 #page-title h2
{
	display: none;
}


/* The header backgrounds */
/* Default */
#home-map
{
	background: url(images/form2line.jpg) no-repeat;
}

/* About Village Schools */
body#page-node-2 #home-map
{
	background: url(images/assembly2.jpg) no-repeat;
}

/* Video / Photo Updates */
body#page-node-3 #home-map
{
	background: url(images/form2line.jpg) no-repeat;
}

/* School Locations */
body#page-node-4 #home-map
{
	background: url(images/madisi.jpg) no-repeat;
}

/* About Tanzania */
body#page-node-5 #home-map
{
	background: url(images/elephants.jpg) no-repeat;
}

/* Get Involved */
body#page-node-6 #home-map
{
	background: url(images/girlsncement.jpg) no-repeat;
}

/* Letters from Steve */
body#page-node-7 #home-map
{
	background: url(images/bumilayinga.jpg) no-repeat;
}

/* Our Founders */
body#page-node-8 #home-map
{
	background: url(images/memya.jpg) no-repeat;
}

/* Link Library */
body#page-node-9 #home-map
{
	background: url(images/susanandfamily.jpg) no-repeat;
}

/* Contact Us */
body#page-node-10 #home-map
{
	background: url(images/primarykids.jpg) no-repeat;
}

/* Google Earth Tour */
body#page-node-70 #home-map
{
	background: url(images/front3.jpg) no-repeat;
}

/* Google Earth Tour */
body#page-node-72 #home-map
{
	background: url(images/front-scholarships.jpg) no-repeat;
}

#bigmap
{
	text-align: center;
}

.donate
{
	text-align: center;
	margin-bottom: 30px;
}

/* The floating Learn about VST and Letters from Steve boxes on the right */
#box-learn-wrapper
{
	padding-top: 0px;
	top: 210px;
}

#box-letters-wrapper
{
	top: 390px;
	background: rgb(81, 120, 160) url(images/letter.png) 10px 156px no-repeat;
}

#box-learn, #box-letters
{
	padding: 5px;
	height: 254px;
	color: white;
}

#box-learn a, #box-letters a
{
	color: white;
	font-size: 12px;
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
}

#box-learn h1, #box-letters h1
{
	font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
	padding-top: 10px;
	color: white;
	font-size: 18px;
	font-weight: 800;
}

#box-learn img, #box-letters img
{
	margin: -5px;
	margin-bottom: 5px;
}

#box-learn
{
	background: rgb(62, 128, 80) url(images/logo.png) 10px 180px no-repeat;
}

/* The form - email sign up and donate */
#donate
{
	margin: 15px 0px 10px 20px;
}

#email-form
{
    background: white;
    margin: 10px;
	padding: 10px;
	margin-bottom: 20px;
	color: #0C2E55;
	font-size: 9pt;
    border-bottom: 1px solid #FAE43C;
    border-right: 1px solid #FAE43C;
    border-top: 1px solid #CE910F;
    border-left: 1px solid #CE910F;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

/* The right sidebar */
#sidebar-right
{
	background: white url(images/blogger.png) no-repeat 85px bottom;
	padding: 0px;
	position: absolute;
	top: 20px;
	right: 0px;
	border-left: 1px solid #81D6F8;
	height: 259px;
	overflow: hidden;
	width: 144px;
	font-size: 10px;
}

#sidebar-right h2.title
{
	display: none;
}

#twitter_div
{
	margin-top: 20px;
}

#more_tweets
{
	position: absolute;
	bottom: 30px;
	left: 10px;
	background: rgb(237, 254, 255);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px;
	border: 1px solid #A0D5EB;
	text-decoration: none;
}

#twitter_div a.followme
{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	background: rgb(143, 168, 196);
	height: 14px;
	padding-top: 1px;
}

#twitter_div a.followme:hover
{
	color: white;
}

#twitter_update_list
{
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}

#twitter_update_list li
{
	list-style-type:none;
	margin-bottom: 2000px;
}


/* User links */
.block-user
{
	margin-left: 10px;
}

/* Admin Section */
div.admin-panel
{
	border: 1px solid gray;
	margin-bottom: 10px;
	margin-top: 10px;
	background: #F0F3F7;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
}

.admin-panel h3
{
	margin-top: 2px;
	margin-bottom: 8px;
	padding: 2px;
	text-align: center;
	background: #8FA8C4;
	color: #1E3A5A;
}

.admin-list dd
{
	text-decoration: italic;
}

div.admin, div.admin .left, div.admin .right, div.clear-block
{
	margin: 0px;
	padding: 0px;
	float: none;
}

div.admin .left, div.admin .right
{
	margin: 0px;
	padding: 0px;
	width: auto;
}

/* home-map */

#home-map ul, #home-map li
{
	margin:0;
	position: relative;
	padding:0;
	list-style:none;
}

#home-map ul img
{
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
}

#home-map, #home-map li
{
	height: 244px;
	width: 697px;
	overflow:hidden;
}

#controls
{
	position: absolute;
	top: 211px;
	left: 0px;
	z-index: 8;
}

#controls li
{
	list-style-type:none;
	display: inline-block;
	background: white;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 2px;
	border: 1px solid white;
	margin-left: 10px;
}

#controls li:hover,
#controls li.current
{
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#controls a
{
	font-size: 13px;
	color: black;
	vertical-align: top;
}

.menu-item-form
{
    border: 1px solid #AFAFAF;
    background: #FAFAFA;
}

#map
{
    margin-bottom: 40px;
}

.discrete
{
    font-size: 12px; 
    color: #ADADAD;
}

.school-picture
{
    vertical-align: top;
    float: right;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border: 1px solid rgb(175, 175, 175);
}

.blog-post
{
    margin-bottom: 30px;
}

.blog-post-date
{
    float: right;
    vertical-align: top;
    margin-top: 4px;
}

.tour-button
{
    display: inline-block;
    height: 100px;
    width: 300px;
    padding: 30px 10px 10px 150px;
    border: 1px solid #A5D4F8;
    font-size: 15pt;
    text-decoration: none;
    background: #E6F4FF url(images/googleearth.tiff) no-repeat 10px 10px ;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 2px 4px #9E9E9E;
	-webkit-box-shadow: #9E9E9E 0px 2px 4px;
	filter: Shadow(Color=#9E9E9E, Direction=180, Strength=2);
}

.tour-button:hover
{
    text-decoration: none;
}

.disclaimer
{
    display: block;
    font-size: 10pt;
    color: gray;
}

.school-preview
{
    min-height: 100px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding-bottom: 5px;
}

.school-preview .school-teaser
{
    min-height: 40px;
}

.school-preview .school-photo
{
    width: 100px;
    float: right;
    vertical-align: top;
    margin: 0px 0px 10px 10px;
}

.school-bubble
{
    width: 300px;
    padding-bottom: 30px;
}

.school-bubble .school-photo
{
    width: 200px;
    float: right;
    vertical-align: top;
    margin: 10px 0px 10px 10px;
}

#schoolslist
{
    float: right;
    vertical-align: top;
}

.album_outer
{
    margin-right: 20px
}

.album_thumbnail
{
    border: 1px solid rgb(175, 175, 175);
    display: inline-block;
    padding: 10px;
}

.photo_thumbnail
{
    height: auto;
    margin: 5px 5px 0px 5px;
    width: 144px;
    overflow: hidden;
}

.photo_caption
{
    color: #6D6D6D;
    font-size: 9pt;
    text-align: center;
    z-index: 10000;
    padding: 2px;
    margin: 5px;
    margin-top: 2px;
    min-height: 23px;
}

.photo_inner
{
    border: 1px solid rgb(175, 175, 175);
    margin-right: 10px;
    width: 154px;
    overflow: hidden;
    height: 155px;
}

.photo_inner:hover
{
    overflow: visible;
}

.photo_inner:hover .photo_caption
{
    background: rgb(175, 175, 175);
    color: black;
}


.button
{
    display: inline-block;
    background: rgb(51, 96, 147) url(images/white-to-trans-fade.png) 0px -18px repeat-x;
	text-shadow: rgba(0, 0, 0, .8) 0px -1px 0px;
    border: 1px solid rgb(51, 96, 147);
    color: white;
    font-family: 'Molengo', georgia, arial, 'times new roman', verdana;
    font-family: 'Trebuchet MS', Arial, Verdana;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 1px 2px #0C2E55;
	-webkit-box-shadow: #0C2E55 0px 1px 2px;
	filter: Shadow(Color=#0C2E55, Direction=180, Strength=1);
}

.button:hover,
.button:active
{
    text-decoration: none;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.button:active
{
    background: rgb(51, 96, 147) url(images/trans-to-white-fade.png) 0px 10px repeat-x;
    border-right: 1px solid #1A477A;
	-moz-box-shadow: 0 -1px 2px #0C2E55;
	-webkit-box-shadow: #0C2E55 0px -1px 2px;
	filter: Shadow(Color=#0C2E55, Direction=0, Strength=1);
}

.donate-form
{
    margin: 0px 0px 30px 0px;
    display: block;
    text-align: center;
}

.bullet-number
{
    vertical-align: -12px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#page-footer
{
    display: block;
    text-align: center;
	height: 100px;
	background: url(images/links-wrapper-bg-2.png) repeat-x;
	z-index: 10000;
	padding-top: 30px;
	color: #CCD7E4;
}

#page-footer div
{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 30px;
}

#page-footer a
{
    color: #CCD7E4;
}

#page-footer #copy
{
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 10px;
}

#page-footer #copy img
{
    width: 40px;
    vertical-align: -5px;
    margin-right: 5px;
}

em
{
    font-weight: normal;
    font-style: italic;
}

blockquote
{

}

.error
{
    border: 1px solid #FF5050;
    background: #D49595;
    color: black;
    font-size: 15px;
}